$primary: (
    50 : #fffefe,
    100 : #fffdfd,
    200 : #fffcfc,
    300 : #fefbfa,
    400 : #fefaf9,
    500 : #fef9f8,
    600 : #fef8f7,
    700 : #fef7f6,
    800 : #fef6f5,
    900 : #fdf5f3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark: (
    50 : #e2e2e2,
    100 : #b6b6b6,
    200 : #868686,
    300 : #565656,
    400 : #313131,
    500 : #0d0d0d,
    600 : #0b0b0b,
    700 : #090909,
    800 : #070707,
    900 : #030303,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$warn: (
    50 : #fdf2ee,
    100 : #faded5,
    200 : #f7c9b9,
    300 : #f4b39d,
    400 : #f1a288,
    500 : #ef9273,
    600 : #ed8a6b,
    700 : #eb7f60,
    800 : #e87556,
    900 : #e46343,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd9d0,
    A700 : #ffc4b7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
