.login{
    border:2px solid linear-gradient(45deg,var(--col-warn-400),var(--col-warn-900));
    border-radius:10px;
    padding:20px;
    // background:linear-gradient(45deg,var(--col-warn-400),var(--col-warn-900));
}

